html,
body {
  margin: 0;
  height: 100%;
  background-color: #ccf5ff;
}

.root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  display: inline-block;
}

.input-cont {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.input-cont input, button {
  padding: 10px
}

.current-cont {
  background-color: #f8fdff;
    border: 3px solid #51c2e5;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.currently {
  justify-content: center;
  display: flex;
  align-items: center;
}

.currently h2 {
  align-self: center;
}

.current-main-items {
  display: flex;
}

.current-item {
  margin-right: 10px;
}

.current-img {
  height: 95px;
}

.current-img img {
  height: 100%;
}

.current-sub-items {
  /* display: flex;
  align-items: center; */
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.current-sub-items span {
  margin: 5px;
}

.forecast-cont {
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.day-cont {
  width: 250px;
  background-color: #f8fdff;
  border: 3px solid #51c2e5;
  margin: 25px;
}